@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.recommended {
  &__container {
    margin-top: -8rem;
    position: relative;
  }

  &__heading {
    margin: 0 38.1rem 2rem 38.1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: $font-semi;
  }

  &__text {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    font-weight: $font-regular;
    margin: 0 30.8rem 4rem 30.9rem;
    line-height: 1.335;
    letter-spacing: 0.041rem;
  }

  &__carousel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 3rem;
    margin: 0 12.9rem 0 12.9rem;
    text-align: center;
    width: 36.1rem;

    &-container {
      &-mobile {
        display: none;
      }
    }

    &-card {
      &-heading {
        display: inline-block;
        margin: 2rem 0 1rem 0;
        font-size: 1.6rem;
        font-weight: $font-regular;
        letter-spacing: 0.027rem;
      }

      &-text {
        font-size: 1.6rem;
        font-weight: $font-light;
        letter-spacing: 0.03rem;
        line-height: 1.345;
      }

      &-image {
        height: 41.4rem;
      }
    }
  }

  &__button {
    &-left {
      @include ArrowButton(90deg);
      left: 4.3%;
      top: 53%;
    }

    &-right {
      @include ArrowButton(270deg);
      right: 4.3%;
      top: 53%;
    }
  }
}

@include respond(1350) {
  .recommended {
    &__carousel {
      margin-left: 18rem;
    }
  }
}

@media (max-width: 80.625em) {
  .recommended {
    &__carousel {
      margin-left: 15rem;
    }
  }
}

@include respond(1220) {
  .recommended {
    &__carousel {
      margin-left: 15rem;
    }
  }
}

@include respond(1060) {
  .recommended {
    &__carousel {
      margin-left: 20.5rem;
    }
  }
}

@media (max-width: 62.5em) {
  .recommended {
    &__carousel {
      margin-left: 16rem;
    }
  }
}

@include respond(950) {
  .recommended {
    &__carousel {
      margin-left: 17.5rem;
      &-card {
        &-2 {
          content: url("Mobile/recommended/Image-8@2x.png");
        }
      }
    }
  }
}

@media (max-width: 56.25em) {
  .recommended {
    &__carousel {
      margin-left: 14rem;
    }
  }
}

@media (max-width: 49.0625em) {
  .recommended {
    &__carousel {
      margin-left: 18rem;
      &-card {
        &-image {
          height: 36rem;
        }
      }
    }
  }
}

@include respond(750) {
  .recommended {
    &__carousel {
      &-card {
        &-image {
          height: 34rem;
        }
      }
    }
  }
}

@include respond(mobile-725) {
  .recommended {
    &__heading {
      margin: 0 3rem 0 3rem;
      font-size: 4rem;
    }

    &__text {
      margin: 2rem 6rem 5rem 6rem;
      font-size: 1.8rem;
      font-weight: $font-regular;
    }

    &__carousel {
      &-mobile {
        margin: 0 25%;
      }

      &-container {
        display: none;

        &-mobile {
          display: contents;
        }
      }

      &-mobile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
      }

      &-card {
        &-heading {
          &-mobile {
            font-size: 1.6rem;
            font-weight: $font-regular;
            text-align: center;
            margin-top: 1.2rem;
          }
        }

        &-text {
          &-mobile {
            font-size: 1.6rem;
            font-weight: $font-light;
            text-align: center;
          }
        }

        &-mobile {
          & img {
            height: 36rem;
            width: 36rem;
          }
        }
      }
    }

    &__button {
      &-left {
        &-mobile {
          @include MobileArrowButton(90deg);
          left: 8%;
        }
      }

      &-right {
        &-mobile {
          @include MobileArrowButton(270deg);
          right: 8%;
        }
      }
    }
  }
}

@include respond(mobile-650) {
  .recommended {
    &__carousel {
      &-mobile {
        margin: 0 20%;
      }
    }
  }
}

@include respond(mobile-550) {
  .recommended {
    &__carousel {
      &-mobile {
        margin: 0 25%;
      }

      &-card {
        &-mobile {
          & img {
            height: 26rem;
            width: 26rem;
          }
        }
      }
    }

    &__heading {
      font-size: 3.2rem;
      margin: 0 6rem;
    }
  }
}

@include respond(myphone) {
  .recommended {
    &__carousel {
      &-card {
        &-mobile {
          & img {
            height: 23.8rem;
            width: 20.7rem;
          }
        }
      }
    }

    &__heading {
      font-size: 3rem;
    }
  }
}

@include respond(400-900) {
  .recommended {
    &__heading {
      margin: 0 3rem;
    }

    &__text {
      margin: 2rem 3rem 5rem 3rem;
    }
  }
}

@include respond(380-900) {
  .recommended {
    &__carousel {
      &-mobile {
        margin: 0 22%;
      }
    }
  }
}

@include respond(mobile) {
  .recommended {
    &__heading {
      margin-top: 7rem;
    }

    &__text {
      margin: 2rem 3rem 3rem 3rem;
      font-size: 1.8rem;
      font-weight: $font-regular;
    }

    &__carousel {
      &-mobile {
        margin: 0;
      }

      &-card {
        &-heading {
          &-mobile {
            display: inline-block;
            font-size: 1.6rem;
            font-weight: $font-regular;
            margin-top: 1.2rem;
            margin: 1.2rem 8.7rem 1rem 8.7rem;
          }
        }

        &-text {
          &-mobile {
            font-size: 1.6rem;
            font-weight: $font-light;
            margin: 0 3rem;
            line-height: 1.344;
          }
        }

        &-mobile {
          & img {
            height: 23.8rem;
            width: 20.7rem;
            margin: 0 7.7rem;
          }
        }
      }
    }

    &__button {
      &-left {
        &-mobile {
          @include MobileArrowButton(90deg);
          left: 8%;
          top: 65%;
          padding: 0.83rem 1.33rem;
          scale: 0.6;
        }
      }

      &-right {
        &-mobile {
          @include MobileArrowButton(270deg);
          right: 8%;
          top: 65%;
          padding: 0.83rem 1.33rem;
          scale: 0.6;
        }
      }
    }
  }
}
