@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.ultimate {
  &__container {
    display: flex;
    flex-direction: column;

    &-contents {
      margin: -1rem 0 0 6rem;
      display: flex;
      overflow: hidden;
    }

    &-images {
      display: flex;
      margin-left: 4.1rem;

      & div {
        overflow: hidden;
        width: 14rem;
      }

      & img {
        height: 27.7rem;
      }

      & :nth-child(2),
      :nth-child(3) {
        margin-right: 4rem;
      }

      & :last-child {
        margin-right: -13rem;
      }
    }
  }

  &__heading {
    margin: 6rem 76rem 0 6rem;
    font-size: 4rem;
    font-weight: $font-semi;
    line-height: 1.175;
  }

  &__button {
    display: inline-block;
    height: 5.1rem;
    width: fit-content;
    margin: 3.5rem 0 0 0;
    letter-spacing: 0.0375rem;
  }
}

@include respond(mobile-725) {
  .ultimate {
    &__container {
      &-contents {
        flex-direction: column;
        margin-left: 6rem;
      }

      &-images {
        margin: 0;

        & :nth-child(2),
        :nth-child(3),
        :nth-child(4) {
          margin-right: 4rem;
          z-index: 2;
        }

        & img {
          height: 23rem;
          width: 23rem;
        }

        & :first-child {
          position: absolute;
          bottom: -8%;
          right: 0%;
          z-index: 1;
          height: 36rem;
          width: 40rem;
        }
      }
    }

    &__heading {
      margin: 2.5rem 6rem 0 6rem;
      line-height: 1.21;
    }

    &__button {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}

@include respond(mobile-650) {
  .ultimate {
    &__container {
      &-images {
        & :nth-child(2),
        :nth-child(3),
        :nth-child(4) {
          margin-right: 3rem;
        }

        & img {
          height: 20rem;
          width: 20rem;
        }

        & :first-child {
          bottom: -2%;
          height: 20rem;
          width: 26rem;
        }
      }
    }
  }
}

@include respond(mobile-550) {
  .ultimate {
    &__container {
      &-images {
        & img {
          height: 17rem;
          width: 17rem;
        }

        & :first-child {
          bottom: 0%;
          height: 17rem;
        }
      }
    }

    &__heading {
      font-size: 3.2rem;
    }
  }
}

@media (max-width: 31.25em) {
  .ultimate {
    &__container {
      &-images {
        & :nth-child(2),
        :nth-child(3),
        :nth-child(4) {
          margin-right: 2rem;
        }

        & img {
          height: 15rem;
          width: 15rem;
        }
      }
    }
  }
}

@include respond(myphone) {
  .ultimate {
    &__container {
      &-images {
        & :nth-child(2),
        :nth-child(3),
        :nth-child(4) {
          margin-right: 3rem;
        }

        & img {
          height: 12.4rem;
          width: 11.6rem;
        }

        & :first-child {
          height: 17rem;
          width: 26rem;
        }
      }
    }

    &__heading {
      font-size: 3rem;
    }
  }
}

@include respond(400-900) {
  .ultimate {
    &__heading {
      margin: 2.5rem 3rem 0 3rem;
    }

    &__container {
      &-contents {
        margin-left: 3rem;
      }
    }
  }
}

@include respond(mobile) {
  .ultimate {
    &__container {
      &-images {
        margin: 0;

        & :nth-child(2),
        :nth-child(3),
        :nth-child(4) {
          margin-right: 1.8rem;
        }

        & img {
          height: 12.4rem;
          width: 11.6rem;
        }

        & :first-child {
          height: 17.2rem;
          width: 26.277rem;
        }
      }
    }

    &__heading {
      margin: 2.5rem 3rem 0 3rem;
      font-size: 3rem;
    }

    &__button {
      margin-top: 4rem;
    }
  }
}
